<div>
    <h2 id="page-heading">
        <span jhiTranslate="sbcAppApp.publicacion.home.title">Publicacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-publicacion" [routerLink]="['/publicacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sbcAppApp.publicacion.home.createLabel">
            Create a new Publicacion
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="publicacions?.length === 0">
        <span jhiTranslate="sbcAppApp.publicacion.home.notFound">No publicacions found</span>
    </div>
    <div class="table-responsive" *ngIf="publicacions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaPublicacion"><span jhiTranslate="sbcAppApp.publicacion.fechaPublicacion">Fecha Publicacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="contenido"><span jhiTranslate="sbcAppApp.publicacion.contenido">Contenido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoPublicacion"><span jhiTranslate="sbcAppApp.publicacion.tipoPublicacion">Tipo Publicacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="perfilNombre"><span jhiTranslate="sbcAppApp.publicacion.perfil">Perfil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let publicacion of publicacions ;trackBy: trackId">
                <td><a [routerLink]="['/publicacion', publicacion.id, 'view' ]">{{publicacion.id}}</a></td>
                <td>{{publicacion.fechaPublicacion | date:'mediumDate'}}</td>
                <td>{{publicacion.contenido}}</td>
                <td jhiTranslate="{{'sbcAppApp.TipoPublicacion.' + publicacion.tipoPublicacion}}">{{publicacion.tipoPublicacion}}</td>
                <td>
                    <div *ngIf="publicacion.perfilId">
                        <a [routerLink]="['/perfil', publicacion.perfilId , 'view' ]" >{{publicacion.perfilNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/publicacion', publicacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/publicacion', publicacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/publicacion', { outlets: { popup: publicacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
