<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-conversacion-heading" jhiTranslate="sbcAppApp.conversacion.home.createOrEditLabel">Create or edit a Conversacion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.conversacion.usuario1" for="field_usuario1">Usuario 1</label>
                    <input type="text" class="form-control" name="usuario1" id="field_usuario1"
                           formControlName="usuario1"/>
                    <div *ngIf="editForm.get('usuario1').invalid && (editForm.get('usuario1').dirty || editForm.get('usuario1').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('usuario1').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.conversacion.usuario2" for="field_usuario2">Usuario 2</label>
                    <input type="text" class="form-control" name="usuario2" id="field_usuario2"
                           formControlName="usuario2"/>
                    <div *ngIf="editForm.get('usuario2').invalid && (editForm.get('usuario2').dirty || editForm.get('usuario2').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('usuario2').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.conversacion.fechaDeConversacion" for="field_fechaDeConversacion">Fecha De Conversacion</label>
                    <div class="input-group">
                        <input id="field_fechaDeConversacion" type="text" class="form-control" name="fechaDeConversacion" ngbDatepicker  #fechaDeConversacionDp="ngbDatepicker" formControlName="fechaDeConversacion"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDeConversacionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaDeConversacion').invalid && (editForm.get('fechaDeConversacion').dirty || editForm.get('fechaDeConversacion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaDeConversacion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.conversacion.perfil" for="field_perfil">Perfil</label>
                    <select class="form-control" id="field_perfil" name="perfil" formControlName="perfilId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="perfilOption.id" *ngFor="let perfilOption of perfils; trackBy: trackPerfilById">{{perfilOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
