<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-notificacion-heading" jhiTranslate="sbcAppApp.notificacion.home.createOrEditLabel">Create or edit a Notificacion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.notificacion.origen" for="field_origen">Origen</label>
                    <input type="text" class="form-control" name="origen" id="field_origen"
                           formControlName="origen"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.notificacion.destino" for="field_destino">Destino</label>
                    <input type="text" class="form-control" name="destino" id="field_destino"
                           formControlName="destino"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.notificacion.tipo" for="field_tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" id="field_tipo"
                           formControlName="tipo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.notificacion.fechaEmision" for="field_fechaEmision">Fecha Emision</label>
                    <div class="input-group">
                        <input id="field_fechaEmision" type="text" class="form-control" name="fechaEmision" ngbDatepicker  #fechaEmisionDp="ngbDatepicker" formControlName="fechaEmision"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaEmisionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.notificacion.estadoMensaje" for="field_estadoMensaje">Estado Mensaje</label>
                    <select class="form-control" name="estadoMensaje" formControlName="estadoMensaje" id="field_estadoMensaje">
                        <option value="LEIDO">{{'sbcAppApp.EstadoMensaje.LEIDO' | translate}}</option>
                        <option value="NO_LEIDO">{{'sbcAppApp.EstadoMensaje.NO_LEIDO' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sbcAppApp.notificacion.perfil" for="field_perfil">Perfil</label>
                    <select class="form-control" id="field_perfil" name="perfil" formControlName="perfilId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="perfilOption.id" *ngFor="let perfilOption of perfils; trackBy: trackPerfilById">{{perfilOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
